.rec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid gray;
}
.record{
  border: 1px solid grey;
  border-radius: 2rem;
  margin: 2rem 0rem;
  background-color: #f1f7fd;
}
.record img{
    height: 20rem;
    width: 18rem;
    /* margin-top: 5rem; */
}

.details-record{
    margin-left: 4rem;
    padding-top: 2rem;
  }
  
  .details-record li{
    list-style: none;
    font-size: 18px;
    padding-top: 00.5rem;
  }
  
  .details-record li span{
    font-weight: 600;
  }
  .details-record li p{
    margin-left: 1rem;
    }
  